body {
	padding-top: 50px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

h1 {
    color: #060 !important;
}

p.description {
	font-size: 16px;
	color: #777777;
}

.small-text {
	color: #777777;
	text-align: center;
}

/* LOGIN */
.box-login {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 5px #ccc;
	margin: 20px 0;
	padding: 0 40px 20px;
}

.box-login label {
	display: block;
	font-size: 1.2em;
}

.box-login .remember {
	display: inline-block;
	margin-left: 5px;
}

.alert ul {
	list-style: none;
	padding-left: 0;
}

/* FILTER */
.filter {
	position: relative;
	height: 100%;
	color: #FFFFFF;
}

.filter:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 3;
	content: "";
	opacity: .7;
	background: #333;
}

.filter.filter-color-black:before {
	background: #333;
}

.filter.filter-color-gold:before {
	background: #bd986c;
}

.filter.filter-color-green:before {
	background: #55bea4;
}

.filter.filter-color-blue:before {
	background: #008b9c;
}

.filter.filter-gradient-black:before {
	background: #1f1c2c;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #1f1c2c 0%, #928dab 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1f1c2c),
		color-stop(100%, #928dab));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1f1c2c 0%, #928dab 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #1f1c2c 0%, #928dab 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #1f1c2c 0%, #928dab 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #1f1c2c 0%, #928dab 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1c2c',
		endColorstr='#928dab', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.filter.filter-gradient-gold:before {
	background: #dfd389;
	background: -moz-linear-gradient(-45deg, #dfd48b 0%, #ec6565 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #dfd48b),
		color-stop(100%, #ec6565));
	background: -webkit-linear-gradient(-45deg, #dfd48b 0%, #ec6565 100%);
	background: -o-linear-gradient(-45deg, #dfd48b 0%, #ec6565 100%);
	background: -ms-linear-gradient(-45deg, #dfd48b 0%, #ec6565 100%);
	background: linear-gradient(135deg, #dfd48b 0%, #ec6565 100%);
}

.filter.filter-gradient-green:before {
	background: #71c491;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #71c491 0%, #465556 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #71c491),
		color-stop(100%, #465556));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #71c491 0%, #465556 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #71c491 0%, #465556 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #71c491 0%, #465556 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #71c491 0%, #465556 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c491',
		endColorstr='#465556', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.filter.filter-gradient-blue:before {
	background: #085078;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #085078 0%, #87d7db 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #085078),
		color-stop(100%, #87d7db));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #085078 0%, #87d7db 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #085078 0%, #87d7db 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #085078 0%, #87d7db 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #085078 0%, #87d7db 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085078',
		endColorstr='#87d7db', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

/* SECTION */
.section .parallax>img, .section .parallax .filter>img, .section .static-image>img,
	.section .static-image .filter>img {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: relative;
	z-index: 1;
}

.section .image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	z-index: 2;
	position: absolute;
	display: block;
}

.section .parallax, .section .static-image {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
}

.section {
	padding: 50px 0;
	position: relative;
	background-color: #FFFFFF;
	position: relative;
}

.section .text-area {
	padding: 4.375em 0;
	position: relative;
	z-index: 3;
	display: block;
}

.section .text-area .description, .section .text-area .description p {
	font-size: 16px;
	color: #777777;
}

.section-qsn .title-area .description {
	font-size: 16px;
	color: #ffffff;
}

.section .title-area {
	max-width: 760px;
	margin: 0 auto 70px;
	display: block;
	padding: 0 15px;
	text-align: center;
}

.section [class*="col-"] .title-area {
	padding: 0;
}

.section .title-area {
	max-width: 760px;
	margin: 0 auto 70px;
	display: block;
	padding: 0 15px;
	text-align: center;
}

.section .parallax, .section .static-image {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
}

.section .parallax>img, .section .parallax .filter>img, .section .static-image>img,
	.section .static-image .filter>img {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: relative;
	z-index: 1;
}

.section-header {
	padding: 0;
}

.section-header .container {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
}

.section-header .content {
	position: relative;
	color: white;
	text-align: center;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	vertical-align: center;
	line-height: 1.7;
	position: relative;
	top: 44%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section-header .content {
	top: 50%;
}

.section-header .content h1, .section-header .content h5,
	.section-header .content p {
	margin: 0;
}

.section-header .content h1 {
	font-size: 9.0em;
	letter-spacing: 0.07em;
	line-height: 1.7;
	text-align: center;
	font-weight: 400;
	text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.5), -2px 4px 2px
		rgba(0, 0, 0, 0.1);
}

.section-header .content p {
	font-size: 2.5em;
	letter-spacing: 0.07em;
	line-height: 1.7;
	text-align: center;
	font-weight: 400;
	text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px
		rgba(0, 0, 0, 0.1);
}

.section-header .btn {
	text-shadow: none;
}

.section-header .content h1, .section-header .content h5,
	.section-header .content p {
	margin: 0;
}

/* BUTTON */
.btn-green.btn-fill {
	color: #FFFFFF;
	background-color: #050;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.btn-green.btn-fill:hover, .btn-green.btn-fill:focus, .btn-green.btn-fill:active,
	.btn-green.btn-fill.active {
	background-color: #040;
	color: #FFFFFF;
}

.btn-lg {
	font-size: 14px;
	border-radius: 4px;
	padding: 16px 32px;
}

/* INFO-ICON */
.info-icon {
	text-align: center;
}

.info-icon .icon {
	font-size: 62px;
	line-height: 66px;
	color: #c5a47e;
	margin-bottom: 10px;
}

.info-icon .description {
	margin-top: 15px;
	color: #777777;
}

.text-success {
	color: #41a98f !important;
}

/* SECTION QSN */
.section-qsn {
	padding-bottom: 0;
}

.section-qsn .container {
	position: relative;
	z-index: 100;
	display: block;
	margin-top: 30vh;
	text-align: center;
}

.section-qsn .title-header {
	text-transform: none;
}

.section-qsn .button-contact {
	padding: 25px 0 17px;
}

.section-qsn .text-description {
	color: #fff;
	margin: 40px auto;
	max-width: 760px;
}

.section-qsn .text-white {
	color: #fff;
}

.section-qsn .text-gold {
	color: #c5a47e;
}

.section-qsn .parallax, .section-qsn .static-image {
	height: auto;
}

.section-qsn .image {
	height: 100%;
}

.section-qsn .container {
	margin-top: 14vh;
	margin-bottom: 50px;
}

/* CARD */
.card {
	background: #fff;
	box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px
		rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin-bottom: 30px;
	-webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
	transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.card:not (.card-plain ):not (.card-price ):hover {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
	box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px
		rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.card .subtitle-black {
	color: #141414;
}

.card p {
	min-height: 0;
}

.card a {
	opacity: .85;
}

.card:hover .header {
	opacity: 1;
}

.card h2 {
	margin-top: 0;
}

.card img {
	max-width: 100%;
}

.card .header img {
	border-radius: 4px;
}

.card .image-header, .card .header img {
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.card .image-header.image-full, .card .header img.image-full {
	border-radius: 4px;
}

.card .row .image-header, .card .row .header img {
	width: 100%;
	border-radius: 4px;
}

.card .btn {
	margin-top: 15px;
}

.card>img {
	border-radius: 4px;
}

.card .title {
	margin-bottom: 5px;
	color: #333333;
}

.card .description {
	font-size: 13px;
}

/* CARD-MEMBER */
.card-member {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.card-member .content {
	padding: 15px;
}

.card-member>img {
	background: none repeat scroll 0 0 transparent;
	height: auto;
	width: 120px;
	margin: 0 auto;
}

.card .icon {
	font-size: 75px;
	line-height: 75px;
}

.card .icon ~ h3 {
	margin-top: 5px;
	margin-bottom: 0px;
}

/* AVATAR */
.avatar {
	border: 3px solid #c5a47e;
	border-radius: 50%;
	overflow: hidden;
	max-width: 110px;
	margin: 0 auto;
}

.avatar img {
	width: 100%;
	height: auto;
}

.avatar-danger {
	border-color: #1eb569;
}

.img-circle.img-walber {
	width: 104px; /* largura da imagem */
	height: 107.719px; /*  altura da imagem  */
}

/* FOOTER */

.footer-color-gray {
  background-color: #F5F5F5;
}

.footer-color-black {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
} 

.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  line-height: 20px;
  margin: 25px 0;
  text-align: center;
}

/*NAVBAR */
.navbar-mutirapp {
	background-color: #050;
}

.navbar-mutirapp a {
	color: #fff;
}

.navbar-mutirapp a:hover {
	background-color: #040 !important;
	color: #fff !important;
}

.navbar-mutirapp button span {
	color: #fff !important;
}