<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<intercept-url pattern="/acao/**" access="ROLE_USUARIO" />
		<intercept-url pattern="/usuario/**" access="ROLE_USUARIO" />
		<form-login login-page="/login.jsf"
			always-use-default-target="true" default-target-url="/acao/buscar.jsf"
			authentication-failure-url="/login.jsf?login_error=1" />
		<logout />
		<remember-me />
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="mutirappDataSource"
			    authorities-by-username-query="SELECT u.email, p.permissao
                                                                    FROM usuario u, usuario_permissao p
                                                                    WHERE u.id = p.usuario AND u.email = ?"
				users-by-username-query="SELECT email, senha, status FROM usuario WHERE email = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>